{% extends 'rango/base.html' %}
{% block body_block %}
<h1>{% block title_block %}Change Password{% endblock %}</h1>
<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Change Password" />
</form>
{% endblock %}
