{% extends 'rango/base.html' %}
{% load static %}

{% block body_block %}
    <h1>{% block title_block %}About Rango{% endblock %}</h1>
    <div>
        <img src="{% static 'images/blep.jpg' %}" alt="Blep." width="30%" />
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Cat." width="50%" />
        <p>This tutorial has been put together by FeebleOldMan.</p>
        {% if user.is_authenticated %}
        <p>visits: {{ visits }}</p>
        {% endif %}
        {% comment "pull local cookie data" %}
        <p>visits: {{ request.COOKIES.visits }}</p>
        {% endcomment %}
    </div>
    <div>
        <button class="btn btn-primary"
            onClick="alert('You clicked the button that runs JavaSCript.');">
            Click Me - I run Javascript
        </button>
        <button class="btn btn-primary" id="about-btn">
            Click Me - I run jQuery
        </button>
        <p>This is an example</p>
        <p>This is another example</p>
    </div>
    <div id="msg">Hello - I'm here for a jQuery example too</div>
{% endblock %}
