{% extends 'rango/base.html' %}
{% block title_block %}Add Page{% endblock %}

{% block body_block %}
    {% if category %}
    <form role="form" id="page_form" method="post" action="{% url 'rango:add_page' category.slug %}">
        <h2 class="form-signin-heading">Add a Page to
            <a href="{% url 'rango:show_category' category.slug %}">
                {{ category.name }}
            </a>
        </h2>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
        {% endfor %}
        <br />
        <button class="btn btn-primary" type="submit" name="submit">
            Add Page
        </button>
    </form>
    {% else %}
    <p>This category does not exist.</p>
    {% endif %}
{% endblock %}
