<!DOCTYPE html>
{% load static rango_template_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>{% block title_block %}How to Tango with Django!{% endblock %} | Rango</title>

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet" />

  </head>

  <body>

    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'rango:index' %}">Rango</a>
      <div id="navbar">
        <nav class="nav navbar-nav pull-xs-left">
          <a class="nav-item nav-link" href="{% url 'rango:about' %}">About</a>
          <!--<a class="nav-item nav-link" href="{% url 'rango:search' %}">Search</a>-->
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'rango:add_category' %}">Add New Category</a>
          <a class="nav-item nav-link" href="{% url 'rango:restricted' %}">Restricted Page</a>
          <a class="nav-item nav-link" href="{% url 'rango:profile' %}">Edit Profile</a>
          <a class="nav-item nav-link" href="{% url 'rango:view_profiles' %}">View Profiles</a>
          <a class="nav-item nav-link" href="{% url 'auth_password_change' %}">Change Password</a>
          <a class="nav-item nav-link" href="{% url 'auth_logout' %}">Logout</a>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'auth_login' %}">Login</a>
          <a class="nav-item nav-link" href="{% url 'registration_register' %}">Sign Up</a>
          {% endif %}
        </nav>
        <!--
        <form class="pull-xs-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
        -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
              <input class="input-medium search-query" type="text" name="suggestion" value="" id="suggestion" placeholder="Search categories..." />
              <hr />
              <div id="cats">
                {% block side_block %}
                {% get_category_list category %}
                {% endblock %}
            </div>
        </div>
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% block body_block %}
        {% endblock %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="http://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- using bootstrap version instead
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    -->
    <script src="{% static "js/rango-jquery.js" %}"></script>
    <!-- obtain django ajax variables -->
    <script>
        const like_url = "{% url 'rango:like_category' %}"
        const suggest_url = "{% url 'rango:suggest_category' %}"
        const auto_add_url = "{% url 'rango:auto_add_page' %}"
    </script>
    <script src="{% static "js/rango-ajax.js" %}"></script>
  </body>
</html>

