{% extends 'rango/base.html' %}
{% load static %}

{% block body_block %}
    {% if category %}
    <h1>{% block title_block %}{{ category.name }}{% endblock %}</h1>
    <div>
        <strong id="like_count">{{ category.likes }}</strong> like{{ category.likes|pluralize }}
        {% if user.is_authenticated %}
        <button class="btn btn-primary btn-sm" id="likes" type="button" data-catid="{{ category.id }}">Like</button>
        {% endif %}
    </div>
    <div id="page">
        <ul>
            {% for page in pages %}
            <li>
                <a href="{% url 'rango:goto' %}?page_id={{ page.id }}">{{ page.title }}</a>
                ({{ page.views }} view{{ page.views | pluralize }})
                | {{ page.last_visit|default:"Unvisited" }}
            </li>
            {% empty %}
            <strong>No pages currently in category.</strong>
            {% endfor %}
        </ul>
    </div>
        {% comment "replacing with empty block" %}
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages currently in category.</strong>
        {% endif %}
        {% endcomment %}
        {% if user.is_authenticated %}
        <a href="{% url 'rango:add_page' category.slug %}">Add Page</a>
        {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}
    {% if user.is_authenticated %}
        <hr />
        <form class="form-inline" id="user_form"
            method="post" action="{% url 'rango:show_category' category.slug %}">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" size="50"
                    name="query" value="{{ query }}" id="query" autofocus />
            </div>
            <button class="btn btn-primary" type="submit" name="submit"
                value="Search">Search</button>
        </form>

        {% if result_list %}
        <div>
            <h3>Results</h3>
            <!-- Display search results in an ordered list -->
            <div class="list-group">
                {% for result in result_list %}
                <div class="list-group-item row">
                    <h4 class="list-group-item-heading col-sm-9">
                        <a href="{{ result.link }}">{{ result.title }}</a>
                    </h4>
                    <div class="col-sm-3">
                    {% if user.is_authenticated %}
                    <button data-catid="{{ category.id }}" data-title="{{ result.title }}" data-url="{{ result.link }}" data-csrf="{% csrf_token %}"class="rango-add btn btn-info btn-sm pull-right" type="button">Add</button>
                    {% endif %}
                </div>
                    <p class="list-group-item-text col-sm-12">{{ result.summary }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endif %}

{% endblock %}
