<ul class="nav nav-sidebar">
{% for c in cats %}
<li>
    <a href="{% url 'rango:show_category' c.slug %}">
        {% if c == act_cat %}
        <strong>
        {% endif %}
        {{ c.name }}
        {% if c == act_cat %}
        </strong>
        {% endif %}
    </a>
</li>
{% empty %}
<strong>There are no categories found.</strong>
{% endfor %}
</ul>

