{% extends 'rango/base.html' %}
{% load static %}

{% block body_block %}
<div class="jumbotron">
    <h1 class="display-3">Rango says...</h1>
    howdy {{ user.username|default:"partner" }}!
    {% comment "using default instead of if" %}
    <p>Visits: {{ visits }}</p>
    {% if user.is_authenticated %}
    howdy {{ user.username }}!<br />
    {% else %}
    hey there partner!<br />
    {% endif %}
    <!--<strong>{{ boldmessage }}</strong></br />-->
    {% endcomment %}
</div>
<div class="row marketing">
    <div class="col-lg-6">
        <h4>Most Liked Categories</h4>
        <p>
            {% if categories %}
            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item">
                    <a href="{% url 'rango:show_category' category.slug %}">
                        {{ category.name }}
                        <button class="btn btn-sm btn-info">{{ category.likes }}</button>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no categories present.</strong>
            {% endif %}
        </p>
    </div>

    <div class="col-lg-6">
        <h4>Most Viewed Pages</h4>
        <p>
            {% if pages %}
            <ul class="list-group">
                {% for page in pages %}
                <li class="list-group-item">
                <a href="{{ page.url }}">{{ page.title }}</a>
                <button class="btn btn-sm btn-info">{{ page.views }}</button>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no pages present.</strong>
            {% endif %}
        </p>
    </div>

    <div>
        <img src="{% static "images/rango.jpg" %}" alt="Rango." />
    </div>
</div>
{% endblock %}
