{% extends 'rango/base.html' %}
{% load static %}

{% block body_block %}
    <h1>{% block title_block %}Login{% endblock %} to Rango</h1>
    <form id="login_form" method="post" action="{% url 'rango:login' %}">
        {% csrf_token %}
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        Username: <input type="text" name="username" value="{{ username }}" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" value="submit" />
    </form>
{% endblock %}
