<ul>
    {% for page in pages %}
    <li>
        <a href="{% url 'rango:goto' %}?page_id={{ page.id }}">{{ page.title }}</a>
        ({{ page.views }} view{{ page.views | pluralize }})
    </li>
    {% empty %}
    <strong>No pages currently in category.</strong>
    {% endfor %}
</ul>

