{% extends 'rango/base.html' %}
{% load static %}
{% block body_block %}
<h2>{% block title_block %}{{ username }}{% endblock %}</h2>
<div>
    {% if picture %}
    <img src="{% get_media_prefix %}{{ picture }}" alt="Profile picture" />
    {% endif %}
    <div>
        Email: <a href="mailto:{{ email }}">{{ email }}</a>
    </div>
    {% if website %}
    <div>
        Website: <a href="{{ website }}">{{ website }}</a>
    </div>
    {% endif %}
</div>
{% endblock %}
