{% extends 'rango/base.html' %}
{% block body_block %}

<h2 class="form-signin-heading">{% block title_block %}My Profile{% endblock %}</h2>

<form id="user_profile_form" method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <p><label for="user_picture">Profile Picture:
            <input class="form-control" id="user_picture" name="picture" type="file" accept="image/*" />
            <span class="helptext">
                Please select an image file.
            </span>
        </label></p>
        <p><label for="user_website">Website:
            <input class="form-control" id="user_website" name="website" type="url" />
        </label></p>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
            
