{% extends 'rango/base.html' %}
{% load static %}

{% block body_block %}
<h2 class="form-signin-heading">{% block title_block %}Edit Profile{% endblock %}</h2>
<form id="user_profile_form" method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <p><label for="user_username">Username:
            <input class="form-control" id="user_username" name="username" type="text" value="{{ user.username }}" size="50" />
        </label></p>
        <p><label for="user_email">Email:
            <input class="form-control" id="user_email" name="email" type="email" value="{{ user.email }}" size="50" />
        </label></p>
        <p><label for="user_picture">Profile Picture:
            <img src="{% get_media_prefix %}{{ picture }}" alt="{{ user.username }}" /><br />
            <input class="form-control" id="user_picture" name="picture" type="file" accept="image/*" />
        </label></p>
        <p><label for="user_website">Website:
            <input class="form-control" id="user_website" name="website" type="url" value="{{ website }}" size="50" />
        </label></p>
        <p><label for="user_password">Password:
            <input class="form-control" id="user_password" name="password" type="password" placeholder="Enter password to update profile" size="50" required/>
        </label></p>
    </div>
    <button type="submit" class="btn btn-default">Update Profile</button>
</form>
{% endblock %}
