{% extends 'rango/base.html' %}
{% load static %}

{% block body_block %}
<div>
    <h1>{% block title_block %}Search{% endblock %} with Rango</h1>
    <br />
    <form class="form-inline" id="user_form"
        method="post" action="{% url 'rango:search' %}">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" size="50"
                name="query" value="{{ query }}" id="query" autofocus />
        </div>
        <button class="btn btn-primary" type="submit" name="submit"
            value="Search">Search</button>
    </form>

    <div>
        {% if result_list %}
        <h3>Results</h3>
        <!-- Display search results in an ordered list -->
        <div class="list-group">
            {% for result in result_list %}
            <div class="list-group-item">
                <h4 class="list-group-item-heading">
                    <a href="{{ result.link }}">{{ result.title }}</a>
                </h4>
                <p class="list-group-item-text">{{ result.summary }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
