{% extends 'rango/base.html' %}

{% block body_block %}
<h2>{% block title_block %}View Profiles{% endblock %}</h2>
<div class="panel">
    {% if user_profiles %}
    <div class="panel-heading">
        <div class="panel-body">
            <div class="list-group">
                {% for profile in user_profiles %}
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <a href="{% url 'rango:view_profiles' %}{{ profile.user }}">{{ profile.user }}</a>
                    </h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <p>There are no users for this site.</p>
    {% endif %}
</div>
{% comment 'my version' %}
<div>
    <ul>
        {% for profile in user_profiles %}
        <li>
            <a href="{% url 'rango:view_profiles' %}{{ profile.user }}">{{ profile.user }}</a>
        </li>
        {% empty %}
        <p> No user profiles exist!</p>
        {% endfor %}
    </ul>
</div>
{% endcomment %}
{% endblock %}
